body {
    overflow-x: hidden;
    background: rgb(215, 180, 90);
    background: radial-gradient(circle, rgba(215, 180, 90, 1) 0%, rgba(236, 99, 37, 1) 24%, rgba(182, 69, 35, 1) 80%, rgba(182, 69, 35, 1) 85%);
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #000000;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


/*  */


/* hr.star-light,
hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
} */


/* hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
}

hr.star-light {
    border-color: white;
}

hr.star-light:after {
    background-color: #000000;
    color: white;
}

hr.star-primary {
    border-color: #f05135;
}

hr.star-primary:after {
    background-color: white;
    color: #f05135;
} */

header {
    text-align: center;
    /* background: #f39c12; */
    background: rgb(215, 180, 90);
    background: radial-gradient(circle, rgba(215, 180, 90, 1) 0%, rgba(236, 99, 37, 1) 24%, rgba(182, 69, 35, 1) 80%, rgba(182, 69, 35, 1) 85%);
    color: white;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    font-family: "Roboto", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    header .intro-text .name {
        font-size: 4.75em;
    }
    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }
    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }
    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    font-family: "Roboto", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgb(48, 105, 48);
}

.navbar a:focus {
    outline: none;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: none;
}

.navbar-default,
.navbar-inverse {
    border: none;
}

section {
    padding: 100px 0;
    text-align: justify;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

section h2 {
    margin: 0;
    font-size: 3em;
    margin-bottom: 60px;
}

section.success {
    background-color: rgba(182, 69, 35, 1);
    /* background: rgb(215,180,90); */
    /* background: radial-gradient(circle, rgba(215,180,90,1) 0%, rgba(236,99,37,1) 24%, rgba(182,69,35,1) 80%, rgba(182,69,35,1) 85%); */
    /* background: radial-gradient(circle, rgba(215,180,90,1) 0%, rgba(236,99,37,1) 24%, rgba(182,69,35,1) 80%, rgba(182,69,35,1) 85%); */
    color: white;
}

section.white {
    background-color: whitesmoke;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    color: white;
    outline: none;
}

section.success .social {
    padding-top: 17px;
}

section.success .social a {
    margin: 17px;
    color: white;
}


/* mise en forme tableau anniversaire */

table {
    /* margin: auto; */
    table-layout: fixed;
    /* width: 50; */
    /* border-collapse: collapse; */
    /* border : medium solid black; */
}

th {
    text-align: center;
    /* font-weight: bold; */
}

td,
tr,
th {
    /* border : medium solid black; */
    /* width : 50; */
}

@media (max-width: 767px) {
    section {
        padding: 75px 0;
    }
    section.first {
        padding-top: 75px;
    }
}

@media (min-width: 767px) {
    #le_parc .le_parc -item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #000000;
    background: white;
    border: solid 2px white;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #000000;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}

footer {
    color: white;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #775010;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #775010;
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
}

.scroll-top .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: none;
}